@using System.Globalization
@model WorkoutOfTheDayViewModel

@{
    ViewBag.Title = @Strings.WorkoutOfTheDay;
}


<h1>@Strings.ActiveAthletes</h1>
<p>
    <strong>@Strings.TodaysTraining: @DateTime.Now.ToString("dddd dd/MM/yyyy", CultureInfo.InvariantCulture)</strong>

    <button id="athlete-checkin" type="button" class="btn btn-link" data-toggle="tooltip" data-placement="right" title="@Strings.AthleteCheckIn">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    </button>
</p>

<table class="table table-striped table-bordered table-hover" id="athletes-table">
    <thead>
        <tr>
            <th></th>
            <th>@Strings.Name</th>
            @foreach (var exerciseViewModel in Model.ExerciseViewModels)
            {
                <th>@exerciseViewModel.Name</th>
            }
        </tr>
    </thead>
</table>

<div class="modal fade" id="athlete-statistic-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>
<div class="modal fade" id="athletes-checkin-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>

@section scripts{
    @Scripts.Render("/signalr/hubs")
    @Scripts.Render("~/bundles/workoutoftheday")
    @Scripts.Render("~/bundles/athletecheckin")
}
